<div class="row" style="margin-top: 10px">
  <div class="col-lg-4">
    <div id="buttons-container" class="row">
      <div id="filter-container" class="col-lg-5">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" (click)="changeDisplayFilter('filterContent')">
          Filter
        </button>
        <div id="filterContent" style="display: none; font-weight: bold;" class="border border-secondary">
          <input type="text" class="form-control" placeholder="Search for Merge Requests" [(ngModel)]="searchText" />
          <div style="max-height: 150px; overflow-y: auto;">
            <div *ngFor="let mr of filteredMerges; let i = index" class="form-check">
              <input
                class="form-check-input border border-secondary authorCheckbox"
                type="checkbox"
                [value]="mr"
                [id]="'authorCheck' + i"
                [checked]="checkedMerges[i]"
                (change)="toggleCheckbox(i)"
              />
              <label class="form-check-label" [for]="'authorCheck' + i">
                {{ mr }}
              </label>
            </div>
          </div>
          <br>
          <h6 style="font-weight: bold;">ALL</h6>
          <button class="btn btn-secondary select-btn" type="button" style="width: 49%" (click)="selectAll()">
            SELECT
          </button>
          <button class="btn btn-secondary select-btn" type="button" style="width: 49%; float:right;" (click)="unselectAll()">
            UNSELECT
          </button>
        </div>
      </div>
      <div id="grouping-container" class="col-lg-5">
        <div id="date-container" class="col-lg-5">
          Filter by date: <br>
          <label for="start-date">Start Date:</label>
          <input type="date" id="start-date" [(ngModel)]="startDate">

          <label for="end-date">End Date:</label>
          <input type="date" id="end-date" [(ngModel)]="endDate">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <button class="btn btn-secondary" type="button" style="width: 25%; margin-top: 20px; margin-left: 22px;" (click)="plotHistogramCMIRJson(getUncheckedMerges())">
          Apply Changes
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div id="plot" style="height: 600px; border-style: solid;">
      <p id="noDiagGen" style="text-align: center; line-height: 600px; font-weight: bold; font-size: 40px;"> no diagram generated </p>
    </div>
  </div>
</div>
