<div class="row" style="margin-top: 10px">
  <div class="col-lg-3">
    <div id="buttons-container" class="row">
      <div id="filter-container" class="col-lg-7">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" (click)="changeDisplayFilter('filterContent')">
          Filter
        </button>
        <div id="filterContent" style="display: none; font-weight: bold;" class="border border-secondary">
          <input type="text" class="form-control" placeholder="Search Authors" [(ngModel)]="searchText" />
          <!--<div class="form-check">
            <input
              class="form-check-input border border-secondary"
              type="checkbox"
              id="checkboxCommits"
              checked
            />
            <label class="form-check-label" for="checkboxCommits">
              Commits
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input border border-secondary"
              type="checkbox"
              id="checkboxIssues"
              checked
            />
            <label class="form-check-label" for="checkboxIssues">
              Issues
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input border border-secondary"
              type="checkbox"
              id="checkboxMergeRequests"
              checked
            />
            <label class="form-check-label" for="checkboxMergeRequests">
              Merge Requests
            </label>
          </div>-->
          <div style="max-height: 150px; overflow-y: auto;">
            <div *ngFor="let author of filteredAuthors; let i = index" class="form-check">
              <input
                class="form-check-input border border-secondary authorCheckbox"
                type="checkbox"
                [value]="author"
                [id]="'authorCheck' + i"
                [checked]="checkedAuthors[i]"
                (change)="toggleCheckbox(i)"
              />
              <label class="form-check-label" [for]="'authorCheck' + i">
                {{ author }}
              </label>
            </div>
          </div>
          <br>
          <h6 style="font-weight: bold;">ALL</h6>
          <button class="btn btn-secondary select-btn" type="button" style="width: 49%" (click)="selectAll()">
            SELECT
          </button>
          <button class="btn btn-secondary select-btn" type="button" style="width: 49%; float:right;" (click)="unselectAll()">
            UNSELECT
          </button>
        </div>
      </div>

      <div id="grouping-container" class="col-lg-5">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" (click)="changeDisplayFilter('groupingContent')">
          Grouping
        </button>
        <div id="groupingContent" style="display: none">
          <div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradioNone" autocomplete="off" (click)="plotCIMRJson(getUncheckedAuthors())" checked>
            <label class="btn btn-outline-secondary" for="btnradioNone">None</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradioCom" autocomplete="off" (click)="groupCIMR('Commits')">
            <label class="btn btn-outline-secondary" for="btnradioCom">Commits</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradioIss" autocomplete="off" (click)="groupCIMR('Issues')">
            <label class="btn btn-outline-secondary" for="btnradioIss">Issues</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradioMR" autocomplete="off" (click)="groupCIMR('MergeRequests')">
            <label class="btn btn-outline-secondary" for="btnradioMR">Merge Requests</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <button class="btn btn-secondary" type="button" style="width: 25%; margin-top: 20px; margin-left: 22px;" (click)="plotCIMRJson(getUncheckedAuthors())">
          Apply Changes
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div id="plot" style="height: 600px; border-style: solid;">
      <p id="noDiagGen" style="text-align: center; line-height: 600px; font-weight: bold; font-size: 40px;"> no diagram generated </p>
    </div>
  </div>
</div>
