<div class="container">
  <div class="row" style="height: 100px">
  </div>
  <div class="row align-items-center" style="text-align: center">
    <div class="col-1">
    </div>
    <div class="col-4">
      <div class="card">
        <img  ngSrc="/assets/pictures/balkendiagramm.png" class="card-img-top" style="height: 250px" alt="balkendiagramm-vorschaubild"
             height="167" width="302">
        <div class="card-body">
          <a routerLink="graphs" class="btn primary-color">
            <h1 style="color: white">Balkendiagramm</h1>
          </a>
        </div>
      </div>
    </div>
    <div class="col-2">
    </div>
    <div class="col-4">
      <div class="card">
        <img ngSrc="/assets/pictures/histogramm.png" class="card-img-top" style="height: 250px" alt="histogramm-vorschaubild"
             height="167" width="302">
        <div class="card-body">
          <a routerLink="graphs" class="btn primary-color">
            <h1 style="color: white">Histogramm</h1>
          </a>
        </div>
      </div>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>

<router-outlet></router-outlet>
